.login-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-weight: bold;
}

.login-input {
  width: 20vw;
  margin: 7px 5px;
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px solid #E1E5EB;
  outline: none;
}

.login-btn {
  margin: 2vh;
  padding: 10px 5px;
  width: 10vw;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #7E01F4;
}

.login-btn:hover {
  cursor: pointer;
}